{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "shallow": true,
    "cy": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx"]
      }
    }
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/prop-types": 1,
    "no-unused-vars": 0,
    "class-methods-use-this": "off"
  }
}
